body {
  font-family: sans-serif;
  background-color: #131313;
  color: #FEFEFE;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #FEFEFE;
  color: #071981;
  padding: 0rem;
}


#artist-image {
  background-color: grey;
  background-image: url(../images/artists/default.jpg);
  background-size: cover;
  width: 270px;
  height: 200px;
  border-radius: 15px;
  margin: 2rem;
}

#artist-player {
  text-align: left;
  margin: 2rem;
  flex-shrink: 0;
}

.table {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}

audio {
  margin-top: 30px;
}

.heading {
   font-weight: bold;
}

.linksections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.linksection {
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  flex-shrink: 0;
}


#songtitle {
  font-size: 120%;
  font-weight: bold;
}

button {
  border: none;
  background-color: inherit;
  padding: 5px 0px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;

  color: rgb(112, 203, 255);
}

.chaka {
  color: rgb(143, 255, 193);
}